.header{
    display:flex;
    background-color:#1F2937;
    font-family:"Roboto", serif; 
    align-items:center;
    padding-left:100px;
    padding-right:100px;
   
}

.logo{
    font-size:24px;
    color:white;
    margin:10px;
    
    
    
}

.headerlinks{
    display:flex;
    justify-content:flex-end;
    flex-grow:1;
    margin:0;
    padding:0;
    
}

.hero-main{
    background-color:#1F2937;
    color:white;
    display:flex;
    font-size:48px;
    font-weight:bolder;
    font-family:"Roboto", serif;
    align-items:center;
    padding-left:100px;
    justify-content:center;
    
}
    h1{
        
    }


.hero-secondary{
    color:#E5E7EB;
    font-size:18px;
    align-self:flex-end;
    flex-wrap:wrap;
}

p{
   
}







a{
    font-family:"Roboto", serf;
    font-size:18px;
    color:#E5E7EB;
    text-decoration:none;
    
}

ul{
    list-style-type:none;
    align-items:center;
    display:flex;
    padding:30px;
    margin:10px;
    gap:30px;
    
    
}

